.obsidian\plugins\translate\*
.obsidian\workspace.json
\.obsidian\plugins\translate\*
\.obsidian\workspace.json
.obsidian/plugins/translate/*
.obsidian/workspace.json
/.obsidian/plugins/translate/*
/.obsidian/workspace.json